.searchContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .searchInput {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #76CCCF; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Responsive design breakpoints */
@media (max-width: 768px) {
  .header,
  .footer {
      padding: 15px 0;
  }
  .mainContent {
      padding: 15px;
  }
}