.CountryInfoDisplay {
    text-align: left;
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .countryDisplayContainer {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
  }
  
  .countryName {
    font-size: 2em;
    font-weight: bold;
    color: #336B87; /* Using one of the color tones from your logo */
    margin-bottom: 0.5em;
  }
  
  .countryDetail {
    font-size: 1em;
    color: #666;
    margin: 0.5em 0;
    display: flex;
    align-items: center;
  }
  
  .countryDetailIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .countryFlag {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  /* Media queries for responsive adjustments */
  @media (max-width: 768px) {
  .countryDisplayContainer {
      padding: 10px;
  }
  
  .countryName {
      font-size: 1.5em;
  }
  
  .countryDetail {
      font-size: 0.9em;
  }
  }
  