.CountryInfoDisplay {
  text-align: left;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.countryDisplayContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #dedede;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* You can add more specific styles for different parts of the country display */
  .countryName {
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
  }
  
  .countryDetail {
    font-size: 1em;
    color: #666;
    line-height: 1.4;
  }
  
  /* Style for list of details if you have one */
  .detailList {
    list-style: none;
    padding: 0;
  }
  
  .detailItem {
    padding-bottom: 10px;
  }
  